
a, button {
  cursor: pointer;
}

.loader, .load-error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.load-error img {
  width: 35%;
  height: 35%;  
  margin-bottom: 30px;
}